// NAV相關
$nav-height: 56px;

// 熱播排行榜Swiper
$base-swiper3-width: 160px;
$extend-swiper3-width: 330px;

$base-hot-width: 181px;
$base-hot-height: 242px;

// 我的收藏頁面
$base-collect-width: 198px;
$base-collect-height: 270px;

// Color
$color-kktv-pink: rgb(240, 72, 110);
